<form class="horizontal-form" action='search' method="GET">
    Title : 
    <input type="text" name="title">
    Teaser Text: 
    <input type="text" name="teaserText">
    Course : 
    <input type="text" name="course">
    Preparation time : 
    <input type="text" name="preparationTime">
    Cooking Time : 
    <input type="text" name="cookingTime">
    Vegetarian : 
    <input type="checkbox" name="vegetarian">
    Favourite 
    <input type="checkbox" name="favourite">

    <input type="submit" value="Search">
</form>
