<form action="add-recipe" method="POST">
    Title : 
    <input type="text" name="title">
    <br><br><br>
    Link to image : 
    <input type="text" name="imageLink">
    <br><br><br>
    Teaser : 
    <input type="text" name="teaserText">
    <br><br><br>
    Course : 
    <input type="text" name="course">
    <br><br><br>
    Preparation time : 
    <input type="text" name="preparationTime">
    <br><br><br>
    Cooking Time : 
    <input type="text" name="cookingTime">
    <br><br><br>
    Instructions : 
    <input type="text" name="instructions">
    <br><br><br>
    Vegetarian : 
    <input type="checkbox" name="vegetarian">
    <br><br><br>
    Mark as favourite ? 
    <input type="checkbox" name="favourite">
    <br><br><br>

    <input type="submit" value="Add Recipe">
</form>