<a href="get-all-recipe">Back to Homepage</a>
<br>
<a href="add-new-recipe">Add new Recipe</a>
<br>
{{>search-criteria}}
<div id="recipe-list">
    {{#each recipes}}
            {{>recipe-item}}
    {{/each}}
</div>